body {
  margin: 0px;
  background: linear-gradient(-45deg, #383cb1, #33a0c4, #2bc5a1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: #3a3b3c;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  /*equal to .page-wrap class's margin-bottom property */
  height: 60px;
  width: 100vw;
}
.site-footer {
  background: #e8e8e8;
  color: rgb(137, 137, 137);
}

/* Force browser to calculate the width according to the outer width of the div, to prevent padding from changing div size */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
