/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    background-color: #fffffc;
    width: 100vw;
    display: grid;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .about-me-title {
    font-size: 25px;
    margin: 2px;
  }

  .about-me-text {
    width: 50vw;
    height: 230px;
    text-align: center;
  }

  .about-me-p-text {
    font-size: 15px;
    padding-bottom: 15px;
  }

  .headshot {
    border-radius: 5%;
    box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
    height: 35vw;
    width: 35vw;
  }

  .headshot-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .horizontal-line {
    height: 3px;
    background-color: #3a3b3c;
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    background-color: #fffffc;
    width: 100vw;
    display: grid;
    gap: 9vw;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .about-me-title {
    font-size: 35px;
    margin: 5px;
  }

  .about-me-text {
    width: 300px;
    height: 300px;
    text-align: center;
  }

  .about-me-p-text {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .headshot {
    border-radius: 5%;
    box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
    height: 35vw;
    width: 35vw;
  }

  .headshot-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .horizontal-line {
    height: 3px;
    background-color: #3a3b3c;
    border: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    background-color: #fffffc;
    width: 100vw;
    display: flex;
    gap: 12vw;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }

  .about-me-text {
    width: 300px;
    height: 300px;
    text-align: left;
  }

  .about-me-p-text {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .headshot {
    border-radius: 5%;
    box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
    height: 33vw;
    width: 33vw;
  }

  .horizontal-line {
    height: 3px;
    background-color: #3a3b3c;
    border: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    background-color: #fffffc;
    width: 100vw;
    display: flex;
    gap: 12vw;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }

  .about-me-text {
    width: 300px;
    height: 300px;
    text-align: left;
  }

  .about-me-p-text {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .headshot {
    border-radius: 5%;
    box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
    height: 300px;
    width: 300px;
  }

  .horizontal-line {
    height: 3px;
    background-color: #3a3b3c;
    border: none;
  }
}
