.container {
  background-color: #e8e8e8;
  width: 100vw;
  display: flex;
  gap: 12vw;
  justify-content: center;
  padding: 80px;
}

.about-me-text {
  width: 300px;
  height: 300px;
}

.about-me-p-text {
  font-size: 20px;
  padding-bottom: 15px;
}

.headshot {
  border-radius: 5%;
  box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
}

.horizontal-line {
  height: 3px;
  background-color: #3a3b3c;
  border: none;
}
