.nav-button {
  border: none;
  font-family: inherit;
  background-color: #e8e8e8;
  font-weight: bold;
  transition: transform 0.3s;
  font-size: 25px;
  color: rgb(56, 56, 56);
}

.nav-button:hover {
  transform: scale(1.175);
}
