.nav-button {
  border: none;
  font-family: inherit;
  background-color: #fffffc;
  font-weight: bold;
  transition: transform 0.3s;
  font-size: 25px;
  color: #3a3b3c;
}

.nav-button:hover {
  transform: scale(1.175);
}
