.flex-container {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: center;
}

.flex-child {
  background-color: #e8e8e8;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
