.interest-item {
  font-weight: bold;
  padding-bottom: 15px;
}

.link:link {
  font-size: 22px;
  color: #2d3142;
  text-decoration: none;
  transition: all 500ms;
}

.link:visited {
  font-size: 22px;
  color: #2d3142;
  text-decoration: none;
}

.link:hover {
  font-size: 28px;
  color: #fffffc;
}
