.links-bar-container {
  background-color: #2d3142;
  height: 275px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  color: #fffffc;
  font-size: 150px;
}

.link-bar-image {
  margin: 15px;
}
