/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    transform: scale(0.75);
  }

  .view-resume {
    font-size: 25px;
    text-decoration: none;
    color: #3a3b3c;
    padding: 15px;
    background-color: #fffffc;
    border-radius: 10px;
  }

  .view-resume:hover {
    color: #fffffc;
    background-color: #48abd2;
    border-color: #fffffc;
    border: solid 3px #fffffc;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    transform: scale(1);
  }

  .view-resume {
    font-size: 25px;
    text-decoration: none;
    color: #3a3b3c;
    padding: 15px;
    background-color: #fffffc;
    border-radius: 10px;
  }

  .view-resume:hover {
    color: #fffffc;
    background-color: #48abd2;
    border-color: #fffffc;
    border: solid 3px #fffffc;
  }
}
